.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("image/carous_noun_002_05690.jpg");
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("image/1300x650-windsor-bowls-club.jpg");
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("image/Cat03.jpg");
}
